<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Admin Portal</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/view-slots" title="View the booked slots by user">View Booked Slots</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/view-consultation" title="View questions asked by user.">View Consultation</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" title="Enable you to add new properties. Add details of new property" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Property
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/add-property">Add Property</a></li>
            <li><a class="dropdown-item" title="Enable you to Update information related to properties" routerLink="/delete-property">Update Property Details</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/add-highlight-property" title="Enable you to add properties on the main page. Only selected properties will be visible on the main page.">Add Highlight Properties</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/add-carousel" title="Enable you to add properties in the carousel on the main page. Only selected properties will be visible in the carousel.">Add Carousel Property</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" title="Enable you to add new properties. Add details of new property" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Property Agent
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/view-agent">View Agents</a></li>
            <li><a class="dropdown-item" title="Enable you to add information related to agent" routerLink="/add-agent">Add Agent Details</a></li>
            <li><a class="dropdown-item" title="Enable you to Update information related to properties" routerLink="/delete-agent">Update Agent Details</a></li>
          </ul>
        </li>
      </ul>
        <button class="btn btn-outline-primary" type="submit">Logout <mat-icon>exit_to_app</mat-icon></button>
    </div>
  </div>
</nav>
<div class="container">
  <h1>Delete Agent</h1>
  <div class="input-container">
    <input type="text" [(ngModel)]="searchValue" class="search-input" placeholder="Search">
    <button class="search-button" (click)="search()">Search</button>
  </div>
    <table class="rwd-table">
      <tbody>
        <tr>
          <th>Agent ID</th>
          <th>Agent Name</th>
          <th>Agent Email</th>
          <th>Agent Mobile</th>
          <th>Agent Address</th>
          <th>Action</th>
        </tr>
        <tr *ngFor="let property of filteredProperties">
          <td data-th="Agent ID">
            {{ property.agentId }}
          </td>
          <td data-th="Agent Name">
            {{ property.agentName }}
          </td>
          <td data-th="Agent Email">
            {{ property.agentEmail }}
          </td>
          <td data-th="Agent Mobile">
            {{ property.agentMobile }}
          </td>
          <td data-th="Agent Address">
            {{ property.agentAddress }}
          </td>
          <td><button type="button" class="btn btn-primary" title="Update Agent" (click)="routeToupdate(property.agentId)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-gear" viewBox="0 0 16 16">
            <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Zm9.886-3.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382l.045-.148ZM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z"/>
          </svg></button><button type="button" class="btn btn-danger" title="Delete Agent" (click)="deleteAgent(property.agentId)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-dash" viewBox="0 0 16 16">
            <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7ZM11 12h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1Zm0-7a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
            <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z"/>
          </svg></button></td>
        </tr>
      </tbody>
    </table>
  </div>