
  <!-- ======= Services Section ======= -->
  <section id="services" class="services services">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Services</h2>
        <p>Choose your Department for Details</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon"><i class="fas fa-heartbeat"></i></div>
          <h4 class="title"><a href="">Cardiology</a></h4>
          <p class="description">Avail various interventional and non-interventional cardiovascular & allied services 24x7.

          </p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon"><i class="fas fa-pills"></i></div>
          <h4 class="title"><a href="">Cardiothoracic Surgery (CVTS)
          </a></h4>
          <p class="description">A state-of-the-art facility performing all types of cardiac vascular and thoracic procedures.

          </p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon"><i class="fas fa-hospital-user"></i></div>
          <h4 class="title"><a href="">Medical Gastroenterology
          </a></h4>
          <p class="description">A medical super specialty concerned with the digestive system, liver and their diseases.

          </p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon"><i class="fas fa-dna"></i></div>
          <h4 class="title"><a href="">Surgical Gastroenterology
          </a></h4>
          <p class="description">Advanced facility providing complex surgeries for the digestive tract, biliary tract, pancreas and liver.

          </p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon"><i class="fas fa-wheelchair"></i></div>
          <h4 class="title"><a href="">Nephrology</a></h4>
          <p class="description">A super-specialty dedicated to diagnosing and treating of kidney disorders.

          </p>
        </div>
        <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon"><i class="fas fa-notes-medical"></i></div>
          <h4 class="title"><a href="">Neurology</a></h4>
          <p class="description">One-stop solution for all neurological disorders, equipped with state-of-the-art facilities and instruments.

          </p>
        </div>
      </div>

    </div>
  </section><!-- End Services Section -->