<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About Us</h2>
        <p>Global-Level Healthcare Made More Accessible</p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-right">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>VGlobal-Level Healthcare Made More Accessible</h3>
          <p class="fst-italic">
            Medicio Hospital & Research Centre is one of Maharashtra's biggest, modern, state of the art hospitals spread across 8,27,702 Sq. Ft. We are famous for our excellent facilities and empathetic medical team. Ethics, honesty, and transparency are the pillars of our foundation. Our mission is to make healthcare accessible and affordable care for all.

            Known as one of Maharashtra's biggest multispeciality hospitals, our hospital has some of the country's finest, empathetic medical professionals and international infrastructure. With over 35 departments led by experts, we offer the best care to our patients. Over the years, we have been recognised for making affordable treatments accessible to all.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->
