

<!-- ======= Hero Section ======= -->
<section id="hero">
  <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    <div class="carousel-inner" role="listbox">

      <!-- Slide 1 -->
      <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-1.jpg)">
        <div class="container">
          <h2>Welcome to <span>Medico</span></h2>
          <p>Since forming Centura Health as a management company in 1996, CommonSpirit Health and AdventHealth have worked together to meet the needs of communities across Colorado, Utah and western Kansas. After 27 years of strong partnership, the organizations have agreed that they can best serve these communities going forward by directly managing their respective care sites that comprise Centura Health.</p>
          <a href="#about" class="btn-get-started scrollto">Read More</a>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item" style="background-image: url(assets/img/slide/slide-2.jpg)">
        <div class="container">
          <h2>Avista Adventist Hospital</h2>
          <p>Will Soon Be AdventHealth Parker</p>    
      <a href="#about" class="btn-get-started scrollto">Read More</a>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item" style="background-image: url(assets/img/slide/slide-3.jpg)">
        <div class="container">
          <h2>Porter Adventist Hospital</h2>
          <p>Will Soon Be AdventHealth Porter</p>
          <a href="#about" class="btn-get-started scrollto">Read More</a>
        </div>
      </div>

    </div>

    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
    </a>

  </div>
  
</section><!-- End Hero -->


  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="fas fa-heartbeat"></i></div>
              <h2 class="title">Porter Adventist Hospital</h2>
              <p class="description">Will Soon Be AdventHealth Porter</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="fas fa-pills"></i></div>
              <h2 class="title">Avista Adventist Hospital</h2>
              <p class="description">Will Soon Be AdventHealth Parker</p> 
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="fas fa-thermometer"></i></div>
              <h4 class="title"><a href="">Castle Rock Adventist Hospital</a></h4>
              <p class="description">Parker Adventist Hospital</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="fas fa-dna"></i></div>
              <h2 class="title">Porter Adventist Hospital</h2>
              <p class="description">Will Soon Be AdventHealth Porter</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>In an emergency? Need help now?</h3>
          <p>You don’t plan for an emergency — but we do. Find peace of mind knowing our hospital-based, freestanding emergency rooms and emergency and urgent care centers are always prepared to care for your family’s sudden injuries and illnesses.</p>
          <a class="cta-btn scrollto" href="/appointment">Make an Make an Appointment</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="fas fa-user-md"></i>
              <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1" class="purecounter"></span>

              <p><strong>Doctors</strong> Becoming AdventHealth</p>
              <a href="/doctors">Find out more &raquo;</a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="far fa-hospital"></i>
              <span data-purecounter-start="0" data-purecounter-end="26" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Departments</strong> Our Approach to Health</p>
              <a href="/department">Find out more &raquo;</a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="fas fa-flask"></i>
              <span data-purecounter-start="0" data-purecounter-end="14" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Research Lab</strong> Why Whole-Person Care</p>
              <a href="#">Find out more &raquo;</a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="fas fa-award"></i>
              <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Awards</strong> We’re honored to maintain the high standards of safety and care that you deserve</p>
              <a href="#">Find out more &raquo;</a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1" data-aos="fade-right">
            <div class="icon-box mt-5 mt-lg-0">
              <i class="bx bx-receipt"></i>
              <h4>Cardiothoracic Surgery (CVTS)
              </h4>
              <p>A state-of-the-art facility performing all types of cardiac vascular and thoracic procedures.

              </p>
            </div>
            <div class="icon-box mt-5">
              <i class="bx bx-cube-alt"></i>
              <h4>Cardiology</h4>
              <p>Avail various interventional and non-interventional cardiovascular & allied services 24x7.

              </p>
            </div>
            <div class="icon-box mt-5">
              <i class="bx bx-images"></i>
              <h4>Medical Gastroenterology
              </h4>
              <p>A medical super specialty concerned with the digestive system, liver and their diseases.

              </p>
            </div>
            <div class="icon-box mt-5">
              <i class="bx bx-shield"></i>
              <h4>Surgical Gastroenterology
              </h4>
              <p>Advanced facility providing complex surgeries for the digestive tract, biliary tract, pancreas and liver.

              </p>
            </div>
          </div>
          <div class="image col-lg-6 order-1 order-lg-2" style='background-image: url("assets/img/features.jpg");' data-aos="zoom-in"></div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Appointment Section ======= -->
    
   
   
    
    <!-- ======= Frequently Asked Questioins Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Frequently Asked Questioins</h2>
          <p>A transition can bring many questions. Below are answers we hope you find helpful in understanding more about the changes to the Colorado locations near you. </p>
        </div>

        <ul class="faq-list">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Who is AdventHealth? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                With a sacred mission of Extending the Healing Ministry of Christ, AdventHealth is a connected system of care for every stage of life and health. More than 83,000 skilled and compassionate caregivers in physician practices, hospitals, outpatient clinics, skilled nursing facilities, home health agencies and hospice centers provide individualized, wholistic care.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">
              What is AdventHealth’s Connection to These Hospitals? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
                AdventHealth has always owned these five hospitals. In 1996 AdventHealth and CommonSpirit Health formed Centura Health as a management company. After a strong 27-year partnership, the organizations are separating to better serve the health care needs of their communities.

AdventHealth will continue to operate and manage the 5 Adventist hospitals and their affiliated clinics in Colorado (Avista Adventist Hospital, Castle Rock Adventist Hospital, Littleton Adventist Hospital, Parker Adventist Hospital, Porter Adventist Hospital) under new names.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Will Our Hospitals Get a New Name?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                Avista Adventist Hospital, Castle Rock Adventist Hospital, Littleton Adventist Hospital, Parker Adventist Hospital and Porter Adventist Hospital are becoming AdventHealth Avista, AdventHealth Castle Rock, AdventHealth Littleton, AdventHealth Parker and AdventHealth Porter.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Are They Faith-Based Hospitals? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>
                Yes, and they always have been. The mission of AdventHealth is “Extending the Healing Ministry of Christ” to the people and communities we serve. This mission is carried out through the healing and health-promoting work of our hospitals, clinics and related institutions.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">
              Will You Still Accept My Insurance?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
              <p>
                If your insurance is already accepted, we'll still be able to accept your insurance. You can still make an appointment with the same team of physicians and care providers you’ve come to know and trust. If you have additional questions, please don’t hesitate to reach out to your provider directly.
              </p>
            </div>
          </li>

      

        </ul>

      </div>
    </section><!-- End Frequently Asked Questioins Section -->

   

  </main><!-- End #main -->

  <
